@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* top bar (essential for all views) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://plus.unsplash.com/premium_photo-1675435646599-69e2c52ee45e?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat,
    linear-gradient(to right, #000000, #000000);
  background-size: cover;
  background-position: center;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

.logo {
  position: relative;
  font-size: 2em;
  user-select: none;
  font-weight: 500;
}

.logo a {
  color: steelblue;
  text-decoration: none;
}

.navi .btnLogin {
  color: antiquewhite;
  font-size: 1.1em;
  font-weight: 500;
  width: 130px;
  height: 50px;
  background: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 40px;
  transition: 0.5s;
}

.navi .btnLogin:hover {
  background: antiquewhite;
  color: #101f2a;
}

.navi .btnRegister {
  color: antiquewhite;
  font-size: 1.1em;
  font-weight: 500;
  width: 130px;
  height: 50px;
  background: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 40px;
  transition: 0.5s;
}

.navi .btnRegister:hover {
  background: antiquewhite;
  color: #101f2a;
}

.navi .btnHome {
  color: antiquewhite;
  font-size: 1.1em;
  font-weight: 500;
  width: 130px;
  height: 50px;
  background: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 40px;
  transition: 0.5s;
}

.navi .btnHome:hover {
  background: antiquewhite;
  color: #101f2a;
}


/* form box */

.wrapper-login {
  position: relative;
  width: 500px;
  height: 800px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-login .form-box {
  width: 100%;
  padding: 30px;
}

.wrapper-register {
  position: relative;
  width: 500px;
  height: 800px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-register .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  color: antiquewhite;
  font-size: 1.5em;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid antiquewhite;
  margin: 20px 0;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: rgb(255, 211, 167);
  font-size: 1.2em;
  line-height: 57px;
}

.input-box input {
  color: antiquewhite;
  font-weight: 600;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 15px 0 5px;
}

.input-box label.login {
  position: absolute;
  color: antiquewhite;
  font-size: 1em;
  font-weight: 500;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}

.input-box label.register {
  position: absolute;
  color: antiquewhite;
  font-size: 1em;
  font-weight: 500;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label.login,
.input-box input:valid ~ label.login {
  top: -5px;
}

.btn.btn-primary.btn-block {
  background-color: #09141c;
  color: rgb(161, 123, 73);
  font-size: 1em;
  font-weight: 500;
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0 10px;
}

.login-register {
  color: antiquewhite;
  font-size: 0.9em;
  text-align: center;
  margin: 35px 0 10px;
}

.login-register p a {
  color: rgb(82, 47, 0);
  font-weight: 600;
  font-size: 1.0em;
  text-decoration: underline;
  margin: 0.25rem;
}

.login-register p a:hover {
  text-decoration: underline;
}


/* messages in form box */

 
.validation-box {
  color: red;
  font-size: 0.8em;
  margin-left: 5px;
  display: inline-block;
}

.success-box {
  color: green;
  font-size: 0.9em;
  margin-left: 5px;
  margin-bottom: 5px;
  display: inline-block;
}


/* info box for password requirements */


.password-requirements {
  position: absolute;
  top: 420px;
  right: -460px;
  width: 440px;
  padding: 20px;
  background-color: rgba(7, 4, 16, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.password-requirements h3 {
  color: #f4eeee;
  font-size: 1.2em;
  margin-bottom: 12px;
}

.password-requirements p {
  color: #f4eeee;
  font-size: 0.9em;
  margin-bottom: 6px;
}


/* homepage body */


.container {
  margin-top: 100px;
}

.info-box {
  position: relative;
}

.info-icon {
  font-size: 3em;
  margin-bottom: 20px;
}


.col-md-6 .info-box:hover {
  background-color: #FFD700;
  color: #101f2a;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.col-md-6 .info-box .info-icon:hover {
  color: #101f2a;
  transition: color 0.3s ease-in-out;
}

